# Bibliotecas

In [1]:
import warnings

import pandas       as pd

warnings.filterwarnings( 'ignore' )

# Importação de dados

In [2]:
df_02 = pd.read_pickle('../exports/cicle_exports/02_feature_eng/df_02.pkl', compression="gzip")

In [3]:
df_03 = df_02.copy()

# 3.0 Filtragem de variáveis para o negócio

## 3.1. Filtragem de linhas

In [4]:
# Filtrando linhas apenas para dias em que houve vendas:
df_03 = df_03[(df_03['open'] != 0) & (df_03['sales'] > 0)]

## 3.2. Seleção de colunas

In [5]:
# Removendo colunas:
cols_drop = ['customers', 'open', 'competition_open_since_year', 'competition_open_since_month', 'promo2_since_year', 'promo2_since_week', 'promo_interval', 'month_map']
df_03 = df_03.drop( cols_drop, axis=1 )

**Motivo de remoção:**

- **'customers'**: O número de clientes que vão às lojas não pode ser obtido de antemão, portanto não é útil como feature para um algoritmo para prever as vendas. Essa é praticamente uma segunda variável alvo.

- **'open'**: Como foi realizado um filtro para considerar apenas os dias em que as lojas ficam abertas, essa variável torna-se irrelevante.

- **'competition_open_since_year' e 'competition_open_since_month'**: Foram usadas como referência para criar outras variáveis e não possuem mais utilidade prática.

- **'promo2_since_year' e 'promo2_since_week'**: Foram usadas como referência para criar outras variáveis e não possuem mais utilidade prática.

- **'promo_interval' e 'month_map'**: Foram usadas como referência para criar outras variáveis e não possuem mais utilidade prática.

In [6]:
df_03.head()

,store,day_of_week,date,sales,promo,state_holiday,school_holiday,store_type,assortment,competition_distance,...,is_promo,year,month,day,week_of_year,year_week,competition_since,competition_time_month,promo_since,promo_time_week
0,1,5,2015-07-31,5263,1,regular_day,1,c,basic,1270.0,...,0,2015,7,31,30,2015-30,2008-09-01,84,2015-07-27,0
1,2,5,2015-07-31,6064,1,regular_day,1,a,basic,570.0,...,1,2015,7,31,30,2015-30,2007-11-01,94,2010-03-22,279
2,3,5,2015-07-31,8314,1,regular_day,1,a,basic,14130.0,...,1,2015,7,31,30,2015-30,2006-12-01,105,2011-03-28,226
3,4,5,2015-07-31,13995,1,regular_day,1,c,extended,620.0,...,0,2015,7,31,30,2015-30,2009-09-01,71,2015-07-27,0
4,5,5,2015-07-31,4822,1,regular_day,1,a,basic,29910.0,...,0,2015,7,31,30,2015-30,2015-04-01,4,2015-07-27,0

# Exportação de resultados

In [7]:
df_03.to_pickle('../exports/cicle_exports/03_filtering_to_business/df_03.pkl', compression='gzip')